LLM_PROVIDER="custom"
LLM_MODEL="groq/openai/gpt-oss-120b"
LLM_API_KEY="..."

EMBEDDING_PROVIDER="custom"
EMBEDDING_MODEL="openrouter/nvidia/llama-nemotron-embed-vl-1b-v2:free"
EMBEDDING_API_KEY="..."
EMBEDDING_DIMENSIONS="2048"